@{
    ViewBag.Title = "Home Page";
    
}

    <div class="container-fluid, background">

    <div class="row">
        <div class="col-md-8 navbar-default">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a style="color:white;" class="navbar-brand" href="#">Search for a Drink or Shot</a>
                </div>

                <div style="background-size: cover; background-image: url(http://a.abcnews.go.com/images/Health/gty_drinks_ll_1204113_wmain.jpg);" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" style="color:white;" class="dropdown-toggle" data-toggle="dropdown">Category<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">All Shots</a>
                                </li>
                                <li>
                                    <a href="#">All Drinks</a>
                                </li>
                                <li>
                                    <a href="#">Popular</a>
                                </li>
                                <li>
                                    <a href="#">Top Rated</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Drink Type Categories</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Create a Drink or Shot</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-default">
                            Search
                        </button>
                    </form>



            </nav>
            <div class="row col-md-12">
                <div class="collapse navbar-collapse col-md-4" id="Recipe-1">
                    <div class="panel panel-heading" style="width:200px">
                        <a class="panel panel-title" data-toggle="collapse" href="#panel-recipe">Instructions</a>
                    </div>
                    <div id="panel-recipe" class="panel-collapse collapse in sidebar" style="max-width:200px">

                        <ul>
                            <li>
                            <li>
                                <label for="Leftt-column"><h2>Instructions:</h2></label>
                                <p>Insert instructions</p><br /><br /><br /><br /><br />
                            </li>

                        </ul>

                    </div>
                    <li>
                        <label style="margin-right:-25%;" for="Bottomleft-column"><h2>Rating:</h2></label>
                        <p>Insert ratings</p>
                    </li>
                </div>

                <!---->
                <div class="collapse navbar-collapse col-sm-4" id="drink-name-1">
                    <div class="panel panel-heading" style="width:200px">

                        <a class="panel panel-title" data-toggle="collapse" href="#panel-drink-name">Washinton Apple</a>

                    </div>
                    <div id="panel-drink-name" class="panel-collapse collapse in sidebar" style="max-width:200px">
                        <ul>

                            <img class="apple" src="http://liquor.s3.amazonaws.com/wp-content/uploads/2014/05/recipe-boulevardier.jpg" />
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="collapse navbar-collapse col-sm-4 sidebar-outer" id="Ingrediants-1">
                    <div class="panel panel-heading" style="width:200px">
                        <a class="panel panel-title" data-toggle="collapse" href="#panel-Ingrediants">Ingredients</a>
                    </div>
                    <div id="panel-Ingrediants" class="panel-collapse collapse in sidebar" style="max-width:350px">

                        <ul>
                            <li>
                                <label for="Right-column"><h2>Ingredients:</h2></label>
                                <p style="margin-left:30%;">Insert ingredients</p>
                            </li>
                            <li style="margin-left:30%;">

                                Crown
                            </li>
                            <li style="margin-left:30%;">
                                Peach
                            </li>
                            <li style="margin-left:30%;">
                                Cranberry Juice
                            </li>
                            <li style="margin-left:35%;">
                                @Html.ActionLink("Full Ingredients List", "Index", "Ingredients")
                            </li>

                        </ul>

                    </div>
                    <li>
                        <label style="margin-left:50%;" for="Bottomright-column"><h2>Comments:</h2></label>
                        <p style="margin-left:50%;">Insert comments</p>
                    </li>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" id="carousel-162483">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-162483">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-162483">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-162483">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="Carousel Images with Links" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        First Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Carousel Bootstrap Second" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Second Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Carousel Bootstrap Third" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Third Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-162483" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-162483" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="panel-298950">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-298950" href="#panel-element-564475">Recommended Shots For You</a>
                            </div>
                            <div id="panel-element-564475" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Washington Apple
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-298950" href="#panel-element-606596">Recommended Drinks For You</a>
                            </div>
                            <div id="panel-element-606596" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Cosmopolitan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="panel-868639">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-868639" href="#panel-element-172298">Top Rated</a>
                            </div>
                            <div id="panel-element-172298" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Moscow Mule
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-868639" href="#panel-element-788968">Featured</a>
                            </div>
                            <div id="panel-element-788968" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="panel-981890">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-981890" href="#panel-element-340147">New Drinks</a>
                            </div>
                            <div id="panel-element-340147" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Midwest Long Island
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title" data-toggle="collapse" data-parent="#panel-981890" href="#panel-element-470760">Some Category here</a>
                            </div>
                            <div id="panel-element-470760" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>
                Latest Comments
            </h2>
            <p>
                Jerry - Check out my new rendition of Sex With an Aligator!
                <img style="width:150px;height:150px;" src="https://doodleordie.s3.amazonaws.com/i/5htt1bsm3/1__8GIT4MVQg.png">
            <p>
                <a class="btn" href="#">Read More »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Bartending Horror Stories
            </h2>
            <p>
                Julie - Last night started like any other night...
                <img style="width:150px;height:150px;" src="http://vignette3.wikia.nocookie.net/courage/images/a/a1/Scared_Courage.jpg/revision/latest?cb=20110610081904" />
            <p>
                <a class="btn" href="#">Read More »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Bartender Do's and Dont's
            </h2>
            <p>
                1. Always tip your bartender...

            </p>
            <img style="width:200px;height:150px;" src="http://www.naturesafariindia.com/images/Do-and-dont.png">
            <a class="btn" href="#">Read More »</a>
            </p>

        </div>

    </div>

</div>