@model IEnumerable<CIS598PROJECT.Models.DrinkShot>
@{
    ViewBag.Title = "Home Page";
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    
}

    <div class="container-fluid, background-home-index">

    <div class="row">
        <div class="col-md-8 navbar-default padding-remove-right to-transparent">
            <nav class="navbar navbar-default" role="navigation">
                <div style="background-size: cover; background-image: url(http://a.abcnews.go.com/images/Health/gty_drinks_ll_1204113_wmain.jpg);" class="collapse navbar-collapse row search-bar" id="bs-example-navbar-collapse-1">
                    <div class="col-md-3">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" style="color:white;" class="dropdown-toggle" data-toggle="dropdown">Category<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">All Shots</a>
                                    </li>
                                    <li>
                                        <a href="#">All Drinks</a>
                                    </li>
                                    <li>
                                        <a href="#">Popular</a>
                                    </li>
                                    <li>
                                        <a href="#">Top Rated</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Drink Type Categories</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Create a Drink or Shot</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <form class="navbar-form navbar-default" role="search">
                                <div class="form-group col-md-8" style="width:200px">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="m-button">
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </nav>
            <!---->
            <div class="row col-md-12 scroll-bar height-body-home" id="style-2">
                @Html.Partial("_bodyDrinksPartial")
            </div>



            <!---->
        </div>

        <div class="col-md-4 padding-remove-left">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" id="carousel-162483">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-162483">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-162483">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-162483">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="Carousel Images with Links" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        First Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Carousel Bootstrap Second" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Second Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Carousel Bootstrap Third" src="http://www.talktofrank.com/sites/default/files/drugs/LARGE%20PHOTOS_ALCOHOL.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Third Thumbnail label
                                    </h4>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-162483" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-162483" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>    
    </div>
    <div class="row chat-container-big">
        <div class="col-md-4 chat-container">
            <div class="row chat-title">
                BTB Chat-Hub
            </div>
            <div class="scroll-bar row chat-discussion wordwrap" id="style-3">
                <ul id="discussion" class="messages-style"></ul>
            </div>
            <div class="row">
                @if (Request.IsAuthenticated)
                {
                    <textarea type="text" id="message" class="chat-textbox" placeholder="Type Message Here..."> </textarea>
                }
                else
                {
                    <textarea type="text" id="message" class="chat-textbox" readonly>You must log in to chat... </textarea>
                }
                
            </div>
            <input type="hidden" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            @section scripts {
                <!--Script references. -->
                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                <!--Reference the SignalR library. -->
                <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
                <!--Reference the autogenerated SignalR hub script. -->
                <script src="~/signalr/hubs"></script>
                <!--SignalR script to update the chat page and send messages.-->
                <script>
                    $("#message").keyup(function (event) {
                        if (event.keyCode == 13) {
                            $("#sendmessage").click();
                        }
                    });
                    $(function () {
                        // Reference the auto-generated proxy for the hub.
                        var chat = $.connection.chatHub;
                        // Create a function that the hub can call back to display messages.

                        chat.client.addNewMessageToPage = function (name, message) {
                            // Add the message to the page.
                            $('#discussion').append('<li><a href="http://www.facebook.com" target="_blank">' + htmlEncode(name)
                                + '</a>' + ': ' + htmlEncode(message) + '</li>');
                        };
                        // Get the user name and store it to prepend to messages.
                        $('#displayname').val('@User.Identity.Name');
                        // Set initial focus to message input box.
                        // $('#message').focus();
                        // Start the connection.
                        $.connection.hub.start().done(function () {
                            $('#sendmessage').click(function () {
                                // Call the Send method on the hub.
                                chat.server.send($('#displayname').val(), $('#message').val());
                                // Clear text box and reset focus for next comment.
                                $('#message').val('').focus();
                            });
                        });
                    });
                    // This optional function html-encodes messages for display in the page.
                    function htmlEncode(value) {
                        var encodedValue = $('<div />').text(value).html();
                        return encodedValue;
                    }
            </script>
            }
        </div>
    </div>
</div>
        </div>

            @*<div class="row">
                <div class="col-md-4">
                    <h2>
                        Latest Comments
                    </h2>
                    <p>
                        Jerry - Check out my new rendition of Sex With an Aligator!
                        <img style="width:150px;height:150px;" src="https://doodleordie.s3.amazonaws.com/i/5htt1bsm3/1__8GIT4MVQg.png">
                    <p>
                        <a class="btn" href="#">Read More »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>
                        Bartending Horror Stories
                    </h2>
                    <p>
                        Julie - Last night started like any other night...
                        <img style="width:150px;height:150px;" src="http://vignette3.wikia.nocookie.net/courage/images/a/a1/Scared_Courage.jpg/revision/latest?cb=20110610081904" />
                    <p>
                        <a class="btn" href="#">Read More »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>
                        Bartender Do's and Dont's
                    </h2>
                    <p>
                        1. Always tip your bartender...

                    </p>
                    <img style="width:200px;height:150px;" src="http://www.naturesafariindia.com/images/Do-and-dont.png">
                    <a class="btn" href="#">Read More »</a>
                    </p>

                </div>*@

            @*</div>*@
